<h2>Register</h2>

<form>
    <div class="text-style">Username:</div> <br>
    <input type="text" id="userRegisterText" name="usr" class="text-field"> <br>
    <div class="text-style">Parola:</div> <br>
    <input type="password" id="passwordRegisterText" class="text-field"> <br>
    <br>
    <div class="text-style">Name</div>: <br>
    <input type="text" id="nameRegisterText" class="text-field"> <br>
    <br>
    <div class="text-style">Surname:</div> <br>
    <input type="text" id="surnameRegisterText" class="text-field"> <br>
    <br>
    <div class="text-style">Email:</div> <br>
    <input type="text" id="emailRegisterText" class="text-field"> <br>
    <br>
    <div class="text-style">ID(grupa + serie):</div> <br>
    <input type="text" id="idRegisterText" class="text-field"> <br>
    <br>
    <button type="button" class="btn btn-primary btn-lg btn-danger" (click)="_register()">Register</button>
</form>